header{
    height: 230px;
    width: 200%
}

body{
    background-image: url(https://i.pinimg.com/originals/ce/9f/7e/ce9f7eb5f6803e748217e279bb2f03e1.jpg);
}

article {
    
    background-color: white;    
    color: blue;
    }
   
h1 {
    color: black;
    font-family: 'Bangers', cursive;
    }

h1.title {
    font-size: 60px;

}

.title {
        background-color: yellow;
}

h2 {
    color: blue;
    text-align: center;
    border: 5px solid red;
    font-family: 'Permanent Marker', cursive;

}

.jobs {
        text-align: left;

}

body {
    background-color: red;
    }
    

#pizza {
    color: red;
    font-family: helvetica;

    }

#newspaper {
    color: green;
    font-family: courier;
 }

aside {
  background-color: black;  
  color: red;  

}
a {
  color: orange;
}

a:hover {
  color: hotpink;
}

a:link {
  text-decoration: none;
}

ul{
  list-style-type: disc; 
   list-style-position: inside;
   margin-left: 20px; 
}


li{
      list-style-type: disc; 
    margin-bottom: 10px;
}
